<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- -->
	<!-- To run Perticular Suit -->
	<groups>

		<run>
			<!--include : Used to Run the script -->

			<include name="Regression" />

			<!-- exclude : Used to neglect -->
			<exclude name="Smoke" />
			<exclude name="FullSuite" />

		</run>

	</groups>

	<!-- <listeners> <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" 
		/> </listeners> -->
	<test name="Smoke-Test">
		<classes>
			<class name="Smoke_Test.Click_aboutus_nav_home" />
			<class name="Smoke_Test.home_page_with_all_links" />
			<class name="Smoke_Test.Click_Email_Nav_Home" />

		</classes>
	</test> <!-- Test -->

	<test name="Regression-Test">
		<classes>
			<class name="Regression.Click_contactus_passData" />

		</classes>
	</test> <!-- Test -->


	<test name="FullSuite-Test">
		<classes>
			<class name="com.keyutech.Full_suite.Keyutech" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->